section.event
	picture.background
		source(
		media="(min-width:992px)"
		srcset="img/event_full.webp 1920w"
		type="image/webp")
		source(
		media="(min-width:992px)"
		srcset="img/event_full.jpg 1920w")
		source(
		srcset="img/event_small.webp 1200w"
		type="image/webp")
		source(
		srcset="img/event_small.jpg 1200w")
		img(
			src="img/event_full.jpg"
			alt="Event"
			width="100%")
	.container
		.lead
			|Event
		h2
			|My MS journey: 
			br
			|Taryn Lencoe

		.button-block
			a.btn.btn-red.btn-rectangle(href="#")
				|Read Taryn’s Story
			a.btn.btn-underline(href="#")
				|Learn More About Living With Ms