section.city
	.container-fluid
		picture.background
			source(
			media="(min-width:992px)"
			srcset="img/toronto_large.webp 1920w"
			type="image/webp")
			source(
			media="(min-width:992px)"
			srcset="img/toronto_large.jpg 1920w")
			source(
			srcset="img/toronto_medium.webp 1200w"
			type="image/webp")
			source(
			srcset="img/toronto_medium.jpg 1200w")
			img(
				src="img/toronto_large.jpg"
				alt="Who fo you walk for?"
				width="100%")

		.container
			h1
				|Toronto
			p
				|Sunday, May 6, 2018
			.button-block
				button.btn.btn-oval.btn-white(type="button" href="#")
					|Register