section#walkteam.walkteam
	.container
		h2
			|Walk as a team
		.row
			.col-sm-6
				.walkteam__column.box-shadow
					picture.background
						source(
						srcset="img/team-walk-dark.webp 575w"
						type="image/webp")
						source(
						srcset="img/team-walk-dark.jpg 575w")
						img(
							src="img/team-walk-dark.jpg"
							alt="FRIENDS AND FAMILY TEAMS"
							width="100%")
					.content-block
						h3
							|FRIENDS AND FAMILY TEAMS
						p
							|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse egestas condimentum consectetur.
						.button-block
							.btn.btn-underline(type="button")
								|Learn more
			.col-sm-6
				.walkteam__column.box-shadow
					picture.background
						source(
						srcset="img/corporate-walk-dark.webp 575w"
						type="image/webp")
						source(
						srcset="img/corporate-walk-dark.jpg 575w")
						img(
							src="img/corporate-walk-dark.jpg"
							alt="CORPORATE TEAMS"
							width="100%")
					.content-block
						h3
							|CORPORATE TEAMS
						p
							|Suspendisse egestas condimentum consectetur. Dolor sit amet, consectetur adipiscing elit.
						.button-block
							.btn.btn-underline(type="button")
								|Learn more