section.whatis
	.container
		.row
			.col-img.col-md-6
				picture
					source(
					srcset="img/people-walk.webp 575w"
					type="image/webp")
					img.img-rounded.box-shadow(
						src="img/people-walk.jpg"
						alt="MS Walk brings more than 30,000 incredible Canadians"
						width="100%")
			.col-content.col-md-6
				p
					|MS Walk brings more than 30,000 incredible Canadians together in more than 125 communities to walk and fundraise to end Canada’s disease: multiple sclerosis. This inspirational event is a time of community celebration among those who are in some way affected by MS, and a way to show support in the fight to end the disease.
				.button-block
					a.btn.btn-oval.btn-red(type="button" href="#")
						|Learn more

section.whatis.learn_right
	.container
		.row
			.col-img.col-md-6
				picture
					source(
					srcset="img/walk-person.webp 575w"
					type="image/webp")

					img.img-rounded.box-shadow(
						src="img/walk-person.jpg"
						alt="I walk because sed at est in odio posuere sagittis"
						width="100%")
			.col-content.col-md-6
				p
					|“I walk because sed at est in odio posuere sagittis. Morbi orci purus, aliquam at dui ut, dapibus consequat enim. Pellentesque blandit sapien id facilisis sollicitudin. Suspendisse ullamcorper, lorem eu hendrerit facilisis sollicitudin. Pellentesque blandit sapien id facilisis sollicitudin. Pellentesque blandit sapien id facilisis sollicitudin.
				.button-block
					a.btn.btn-oval.btn-red(type="button" href="#")
						|Read more